*{
    padding: 0;
    margin: 0;
}

/* body{
    background-color: black;
} */

.profile{
    /* color: white; */
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    /* display: inline-block; */
}

.profile h1, p{
    margin-bottom: 15px;
}

#profile{
    display: inline-block;
    background-color: #bfe94b;
    /* border: 1px solid black; */
    width: 100%;
    max-height: 5%;
}

img{
    border-radius: 50%;
    width: 8%;
    position: relative;
    float: right;
    margin-right: 20%;
    margin-top: -7%;
    margin-bottom: auto;
    border: 1px solid #e5e5e5;
}

.contact{
    margin-left: 20%;
    margin-right: auto;
    line-height: 50px;
}

footer{
    border: 60px solid #bfe94b;
    margin-top: 25.5%;
}